{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description }}
  </p>
  {% include 'includes/pagination.html' %}
  {% if items %}
    {% for post in items %}
      {% include 'posts/includes/posts.html' %}
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %} 
    {% include 'includes/pagination.html' %}
  {% else %}
    <p>Вы попробовали открыть страницу не существующей или удалённой группы.</p>
  {% endif %}
{% endblock %}